* {
    --text: black;
    --background: #EEEEEE;
    --background-hover: #b9b9b9;
    --accent: #fef800;
}

.nav-parent {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.navbar {
    min-height: 15vh;
    width: 100vw;
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    background-color: var(--accent);
}

.hamburger, .logo {
    margin: 20px;
    width: 40px;
    height: 40px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.dropdown { 
    display: flex;
    justify-content: space-between;
}

[class^=bar] {
    width: 100%;
    height: 5px;
    background-color: black;
    border-radius: 1px;
    transition: all 0.2s;
    border-radius: 5px;
}

.hamburger {
    position: relative;
}

input[type=checkbox]:checked + label .hamburger .bar-2 {
    opacity: 0;
}

input[type=checkbox]:checked + label .hamburger .bar-1 {
    left: 0;
    bottom:50%;
    position: absolute;
    transform: rotate(45deg);
}

input[type=checkbox]:checked + label .hamburger .bar-3 {
    right: 0;
    bottom: 50%;
    position: absolute;
    transform: rotate(-45deg);
}

.nav-list {
    margin: 0;
    position: absolute;
    bottom: -100%;
    left: 0;
    background-color: var(--background);
    width: 100%;
    height: 100%;
    opacity: 0;
    
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    cursor: default;
    transition: all 0.2s;
}

input[type=checkbox]:checked + label ul {
    opacity: 1;
    pointer-events: all;
    cursor: crosshair;
}

.list-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: var(--text);
}

.list-item:hover {
    background-color: var(--background-hover);
}

@media screen and (min-width: 800px) {
    .navbar {
        flex-direction: row;
    }

    label {
        position: static;
        height: 100%;
        width: 100%;
    }

    .md-visible {
        opacity: 1;
        pointer-events: all;
        cursor: crosshair;
    }

    .md-hidden {
        display: none;
    }

    .nav-list {
        flex-direction: row;
        position: static;
        height: 100%;
    }

    .list-item {
        height: 100%;
    }
}